{% extends 'bootstrap/base.html.twig' %}

{% block title %}Hello BootstrapController!
{% endblock %}

{% block body %}
	<div class="container">
	
		<div class="example-wrapper">
			<h1>Hello
				{{ controller_name }}! ✅</h1>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ '/home/rcosta/symfony-cpanel/cpanel/src/Controller/BootstrapController.php'|file_link(0) }}">src/Controller/BootstrapController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ '/home/rcosta/symfony-cpanel/cpanel/templates/bootstrap/index.html.twig'|file_link(0) }}">templates/bootstrap/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div>

		<h1>Base Template</h1>
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">
				<i class="fa fa-link" aria-hidden="true"></i>
				<a href="{{ path('app_bootstrap_default',{slug:'buttons'}) }}" title="Buttons">Buttons</a>
			</li>
			<li class="list-group-item list-group-item-primary">
				<i class="fa fa-link" aria-hidden="true"></i>
				<a href="{{ path('app_bootstrap_default',{slug:'popovers'}) }}" title="Popovers">Popovers</a>
			</li>
			<li class="list-group-item list-group-item-secondary">
				<i class="fa fa-link" aria-hidden="true"></i>
				<a href="{{ path('app_bootstrap_default',{slug:'fontawesome'}) }}" title="Buttons">Fontawesome 6</a>
			</li>

			<li class="list-group-item list-group-item-danger">This is a danger list group item</li>
			<li class="list-group-item list-group-item-warning">This is a warning list group item</li>
			<li class="list-group-item list-group-item-info">This is a info list group item</li>
			<li class="list-group-item list-group-item-light">This is a light list group item</li>
			<li class="list-group-item list-group-item-dark">This is a dark list group item</li>
		</ul>
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Accordion Item #1
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<strong>This is the first item's accordion body.</strong>
						It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
						<code>.accordion-body</code>, though the transition does limit overflow.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Accordion Item #2
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<strong>This is the second item's accordion body.</strong>
						It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
						<code>.accordion-body</code>, though the transition does limit overflow.
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Accordion Item #3
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<strong>This is the third item's accordion body.</strong>
						It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
						<code>.accordion-body</code>, though the transition does limit overflow.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
